<div>
    <button type="button" class="sp-form-btn-def">Save Changes</button>
    <!-- <button type="button" class="sp-form-btn">Reset</button> -->
    <button type="button" class="sp-form-btn" (click)="gotoList()">List</button>
</div>

<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div class="sp-page-content">
        <div class="sp-page-content-col">
            <div class="sp-card">
                <div class="sp-card-header">Personal Info</div>
                <div class="sp-card-content">

                    <div class="sp-form-row">
                        
                        <!-- FIRST NAME -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-name"
                                    type="text"
                                    maxlength="40"
                                    required
                                    formControlName="firstname">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">First Name</label>
                            </div>
                            <div class="sp-field-sub">
                                <span class="sp-field-hint">Required (Max. 40 characters)</span>
                            </div>
                        </div>

                        <!-- MIDDLE INITIAL -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-initial"
                                    type="text"
                                    maxlength="1"
                                    formControlName="middlename">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">M.I.</label>
                            </div>
                            <div class="sp-field-sub">
                                <span class="sp-field-hint">&nbsp;</span>
                            </div>
                        </div>

                        <!-- LAST NAME -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-name"
                                    type="text"
                                    maxlength="40"
                                    formControlName="lastname">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Last Name</label>
                            </div>
                            <div class="sp-field-sub">
                                <span class="sp-field-hint">Required (Max. 40 characters)</span>
                            </div>
                        </div>

                    </div>

                    <div class="sp-form-row">

                        <!-- DATE OF BIRTH -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-date"
                                    type="text"
                                    formControlName="dob">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Date of Birth</label>
                                <button type="button" class="sp-field-text-btn">
                                    <i class="material-icons">calendar_today</i>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">
                        
                        <!-- EMAIL ADDRESS -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-email"
                                    type="text"
                                    required
                                    formControlName="email">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Email Address</label>
                            </div>
                            <div class="sp-field-sub">
                                <span class="sp-field-hint">Required (Max. 80 characters)</span>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">

                        <!-- MOBILE NUMBER -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-phone"
                                    type="text"
                                    formControlName="mobilephone">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Mobile Number</label>
                            </div>
                        </div>

                        <!-- HOME NUMBER -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-phone"
                                    type="text"
                                    formControlName="homephone">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Home Number</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="sp-card">
                <div class="sp-card-header">Employment Details</div>
                <div class="sp-card-content">
                    <div class="sp-form-row">

                        <!-- EMPLOYEE NUMBER -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-phone"
                                    type="text"
                                    formControlName="empid">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Employee ID</label>
                            </div>
                            <div class="sp-field-sub">
                                <span class="sp-field-hint">Required</span>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">
                        
                        <!-- POSITION / TITLE -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-email"
                                    type="text"
                                    formControlName="title">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Position/Title</label>
                            </div>
                        </div>

                        <!-- SALARY -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text-view sp-form-fld-phone"
                                    type="text"
                                    disabled="disabled"
                                    formControlName="salary">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Salary</label>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">

                        <!-- LOCATION -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <select
                                    class="sp-field-select sp-form-fld-email"
                                    formControlName="location">
                                    <!-- (change)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                    <!-- <option *ngFor="let el of arr" [ngValue]="el.id">{{el.text}}</option> -->
                                </select>
                                <label class="sp-field-label">Location</label>
                            </div>
                            <!-- <div class="sp-field-sub">
                                <span class="sp-field-hint">{{ sHint }}</span>
                            </div> -->
                        </div>

                        <!-- OFFICE -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <select
                                    class="sp-field-select sp-form-fld-email"
                                    formControlName="office">
                                    <!-- (change)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                    <!-- <option *ngFor="let el of arr" [ngValue]="el.id">{{el.text}}</option> -->
                                </select>
                                <label class="sp-field-label">Office</label>
                            </div>
                            <!-- <div class="sp-field-sub">
                                <span class="sp-field-hint">{{ sHint }}</span>
                            </div> -->
                        </div>

                    </div>
                    <div class="sp-form-row">

                        <!-- MEMBER SINCE -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-date"
                                    type="text"
                                    formControlName="membersince">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Position/Title</label>
                                <button type="button" class="sp-field-text-btn">
                                    <i class="material-icons">calendar_today</i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
        <div class="sp-page-content-col">
            <div class="sp-card">
                <div class="sp-card-header">Bank Details</div>
                <div class="sp-card-content">
                    <div class="sp-form-row">

                        <!-- BANK NAME -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-email"
                                    type="text"
                                    formControlName="bankname">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Bank Name</label>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">

                        <!-- ACCOUNT NAME -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-email"
                                    type="text"
                                    formControlName="accname">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Account Name</label>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">

                        <!-- ACCOUNT NUMBER -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-email"
                                    type="text"
                                    formControlName="accnumber">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">Account Number</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="sp-card">
                <div class="sp-card-header">Settings</div>
                <div class="sp-card-content">
                    <div class="sp-form-row">
                        <button type="button"
                            class="sp-form-btn-minor"
                            *ngIf="showChangePwd != true"
                            (click)="showChangePassword(true)">
                            <span>CHANGE PASSWORD</span>
                        </button>
                        <button type="button"
                            class="sp-form-btn-minor"
                            *ngIf="showChangePwd == true"
                            (click)="showChangePassword(false)">
                            <span>Submit new password</span>
                        </button>
                        <button type="button"
                            class="sp-form-btn-minor"
                            *ngIf="showChangePwd == true"
                            (click)="showChangePassword(false)">
                        <span>Cancel</span>
                        </button>
                    </div>
                    <div class="sp-form-row" *ngIf="showChangePwd == true">

                        <!-- NEW PASSWORD -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <input
                                    class="sp-field-text sp-form-fld-name"
                                    type="password"
                                    formControlName="accnumber">
                                    <!-- (input)="onChange($event.target.value)"
                                    (blur)="onTouched($event.target.value)" -->
                                <label class="sp-field-label">New Password</label>
                            </div>
                        </div>

                    </div>
                    <div class="sp-form-row">

                        <!-- MEMBER IS ACTIVE -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <label class="sp-field-cb-container">
                                    <span class="sp-field-cb-label">Member is active</span>
                                    <input
                                        class="sp-field-cb"
                                        type="checkbox"
                                        formControlName="isactive"
                                        checked="">
                                    <span class="sp-field-cb-check"></span>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="sp-form-row">

                        <!-- MEMBER HAS ACCESS -->
                        <div class="sp-field-wrapper">
                            <div class="sp-field-content">
                                <label class="sp-field-cb-container">
                                    <span class="sp-field-cb-label">Member has access</span>
                                    <input
                                        class="sp-field-cb"
                                        type="checkbox"
                                        formControlName="hasaccess"
                                        checked="">
                                    <span class="sp-field-cb-check"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <button type="submit" [disabled]="memberForm.invalid" class="sp-form-btn-def">Save Changes</button>
        <button type="button" class="sp-form-btn">Reset</button>
    </div>
</form>
