<div class="sp-page-container">
    <div class="sp-page-header">
        <span class="sp-page-title">Upload Payroll File</span>
        <!-- <button type="button" class="sp-page-header-btn-def">Submit</button>
        <button type="button" class="sp-page-header-btn">History</button>
        <button type="button" class="sp-page-header-btn">In Progress</button> -->
    </div>
    <div class="sp-form-narrow">
        <div class="sp-form-row">
            <sp-field-file
                label="Import File"
                class="sp-form-fld-addr"
                ngModel name="address1">
            </sp-field-file>
        </div>
        <div class="sp-form-row-btn-bottom">
            <button type="button" class="sp-form-btn-def">Submit</button>
            <button type="button" class="sp-form-btn">History</button>
            <button type="button" class="sp-form-btn">In Progress</button>
        </div>
    </div>
</div>