<div class="sp-page-container">
    
    <!-- ROLE BANNER -->
    <div class="sp-card">
        <div class="sp-card-banner">
            <div class="sp-card-banner-header">
                <i class="material-icons banner-icon">perm_identity</i>
                <div class="sp-card-banner-title">
                    <div class="sp-card-banner-label">Role</div>
                    <div class="sp-card-banner-text">Bookkeeper</div>
                </div>
            </div>
            <div class="sp-card-banner-actions">
                <button type="button" class="sp-card-banner-action-btn fw500"
                    (click)="gotoList()">Go to List</button>
            </div>
        </div>

        <div class="sp-card-content sp-card-padding-sides sp-card-padding-bottom">
            <table class="sp-list">
                <thead>
                    <tr>
                        <th>System task</th>
                        <th>Permission</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sp-list-txt-col">View own profile</td>
                        <td class="sp-list-txt-col">YES</td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Modify own profile</td>
                        <td class="sp-list-txt-col">YES</td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">View/search any member profile</td>
                        <td class="sp-list-txt-col">YES</td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Modify any member profile</td>
                        <td class="sp-list-txt-col">NO</td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">View/search any loan record</td>
                        <td class="sp-list-txt-col">YES</td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Approve/reject any loan record</td>
                        <td class="sp-list-txt-col">YES</td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Modify any loan record</td>
                        <td class="sp-list-txt-col">NO</td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">View financial reports</td>
                        <td class="sp-list-txt-col">YES</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <img class="sp-card-pic" src="../../../../../../assets/ramon_001.png"> -->
    </div>
    
    <div class="sp-card sp-card-padding">
        <div class="sp-card-header">
            <div>
                <!-- <i class="material-icons card-icon card-icon-orange">call</i> -->
                <span class="fw700">USERS</span>
            </div>
            <button type="button" class="sp-card-header-btn-def">Add User</button>
            <!-- <button type="button" class="sp-card-header-btn">Save Changes</button> -->
        </div>
        <div class="sp-card-content">
            <table class="sp-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sp-list-txt-col">Villarama, Violeta</td>
                        <td class="sp-list-txt-col">violy_villarama@yahoo.com</td>
                        <td class="sp-list-txt-col">0928-410-2732</td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Villarama, Marielle</td>
                        <td class="sp-list-txt-col">marielle.villarama@gmail.com</td>
                        <td class="sp-list-txt-col">0928-410-2732</td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Dosunmu, Aisha</td>
                        <td class="sp-list-txt-col">aisha@gmail.com</td>
                        <td class="sp-list-txt-col">0911-020-3212</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>