<div class="sp-page-container">
    <div class="sp-page-header">
        <div>
            <span class="sp-page-title">Employee - Villarama, Marlon</span>
            <!-- <button type="button" class="sp-form-btn">View Employee</button>
            <button type="button" class="sp-form-btn">History</button> -->
        </div>
        <div>
            <button type="button" class="sp-form-btn-def">Update Employee</button>
            <button type="button" class="sp-form-btn">Close</button>
        </div>
    </div>
    
    <div class="sp-page-subtabs">
        <ul>
            <li>
                <a [routerLink]="['details']" routerLinkActive="active"><span>Employee Details</span></a>
            </li>
            <li>
                <a [routerLink]="['benefs']" routerLinkActive="active"><span>Beneficiaries</span></a>
            </li>
            <li>
                <a [routerLink]="['ledger']" routerLinkActive="active"><span>Subsidiary Ledger</span></a>
            </li>
        </ul>
        
    </div>

    <router-outlet></router-outlet>

    <div class="sp-page-footer">
        <div>
            <!-- <span class="sp-page-title">Employee - Villarama, Marlon</span> -->
            <!-- <button type="button" class="sp-form-btn">View Employee</button>
            <button type="button" class="sp-form-btn">History</button> -->
        </div>
        <div>
            <button type="button" class="sp-form-btn-def">Update Employee</button>
            <button type="button" class="sp-form-btn">Close</button>
        </div>
    </div>
</div>
