.sp-field-select {
    padding: 1em 12px 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: inherit;
    box-sizing: border-box;
}
.sp-field-select:focus {
    outline: none;
    border: 1px solid #1565C0;
}
