<div class="sp-page-container">
    <div class="sp-page-header">
        <div>
            <span class="sp-page-title">Members</span>
        </div>
        <div>
            <button type="button" class="sp-form-btn-def"
                (click)="gotoNew()">Create Member</button>
        </div>
    </div>

    <div class="sp-page-content-list">
        <table class="sp-table sp-table-actionable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position/Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birthday</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Villarama, Marlon</td>
                    <td>CTO</td>
                    <td>marlonsvillarama.biz@gmail.com</td>
                    <td>0917 522 2847</td>
                    <td>Jul 7, 1978</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="showEditEmp(123)">View</button>
                        <button type="button"
                            class="btn-action">Delete</button>
                    </td>
                </tr>
                <tr class="even">
                    <td>Villarama, Marielle</td>
                    <td>VP for Training</td>
                    <td>marielle.villarama@gmail.com</td>
                    <td>0905 256 1623</td>
                    <td>Sep 23, 1998</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="showEditEmp(456)">View</button>
                        <button type="button"
                            class="btn-action">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Villarama, Apple</td>
                    <td>VP for Sales</td>
                    <td>apple.linson02@yahoo.com</td>
                    <td>0917 709 9588</td>
                    <td>Sep 2, 1985</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="showEditEmp(123)">View</button>
                        <button type="button"
                            class="btn-action">Delete</button>
                    </td>
                </tr>
                <tr class="even">
                    <td>Villarama, Violy</td>
                    <td>CEO</td>
                    <td>violy_villarama@yahoo.com</td>
                    <td>0928 410 2732</td>
                    <td>Sep 2, 1955</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="showEditEmp(456)">View</button>
                        <button type="button"
                            class="btn-action">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>