<div class="sp-page-container">
    <div class="sp-page-header">
        <div>
            <span class="sp-page-title">Members</span>
        </div>
        <div>
            <button type="button" class="sp-form-btn-def"
                (click)="gotoNew()">Create Member</button>
        </div>
    </div>

    <!-- <div class="sp-page-header" *ngIf="fetchDone != true">
        <sp-progress-slider></sp-progress-slider>
    </div> -->

    <div class="sp-page-content-list">
        <table class="sp-table sp-table-actionable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position/Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birthday</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                    <td>{{ member.lastname | titlecase }}, {{ member.firstname | titlecase }}</td>
                    <td>{{ member.title }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.mobilephone }}</td>
                    <td>{{ member.mobilephone }}</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="showEditEmp(member._id)">View</button>
                        <button type="button"
                            class="btn-action">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>