<div class="sp-topbar">
    <a [routerLink]="['/v1']">
        <img src="../../../../../../assets/nfa_logo_001.png" class="sp-logo">
    </a>
    <div class="sp-topbar-actions">
        <button type="button" class="sp-topbar-btn" title="Change Database">
            <i class="material-icons btn-icon">exit_to_app</i>
            <span>Log Out</span>
        </button>
        <!-- <button type="button" class="sp-topbar-link" title="My Account">
            <i class="material-icons">account_circle</i>
        </button>
        <button type="button" class="sp-topbar-link" title="Log Out" (click)="logout">
            <i class="material-icons">exit_to_app</i>
        </button> -->
    </div>
</div>