<div class="sp-subtab-wrapper">
    <div class="sp-subtab-header">
        <div>
            <span class="sp-subtab-header-note">Found 3 beneficiaries</span>
            <button type="button"
                *ngIf="showBenForm != true"
                class="sp-form-btn-minor"
                (click)="toggleBenForm(true)">
                <span>Add Beneficiary</span>
            </button>
        </div>
    </div>
    <div class="sp-subtab-header-form" *ngIf="showBenForm == true">
        <form [formGroup]="benForm">
            <div class="sp-form-row">

                <!-- FIRST NAME -->
                <div class="sp-field-wrapper">
                    <div class="sp-field-content">
                        <input
                            class="sp-field-text sp-form-fld-name"
                            type="text"
                            maxlength="40"
                            required
                            formControlName="firstname">
                        <label class="sp-field-label">First Name</label>
                    </div>
                    <div class="sp-field-sub">
                        <span class="sp-field-hint">Required (Max. 40 characters)</span>
                    </div>
                </div>

                <!-- LAST NAME -->
                <div class="sp-field-wrapper">
                    <div class="sp-field-content">
                        <input
                            class="sp-field-text sp-form-fld-name"
                            type="text"
                            maxlength="40"
                            formControlName="lastname">
                        <label class="sp-field-label">Last Name</label>
                    </div>
                    <div class="sp-field-sub">
                        <span class="sp-field-hint">Required (Max. 40 characters)</span>
                    </div>
                </div>

                <!-- DATE OF BIRTH -->
                <div class="sp-field-wrapper">
                    <div class="sp-field-content">
                        <input
                            class="sp-field-text sp-form-fld-date"
                            type="text"
                            formControlName="dob">
                        <label class="sp-field-label">Date of Birth</label>
                        <button type="button" class="sp-field-text-btn">
                            <i class="material-icons">calendar_today</i>
                        </button>
                    </div>
                    <div class="sp-field-sub">
                        <span class="sp-field-hint">&nbsp;</span>
                    </div>
                </div>

            </div>
            <div class="sp-form-row">
                <button type="button"
                    class="sp-form-btn-def"
                    (click)="createBen()">
                    <span>Create Beneficiary</span>
                </button>
                <button type="button"
                    class="sp-form-btn"
                    (click)="cancelForm()">
                    <span>Cancel</span>
                </button>
            </div>
        </form>
    </div>
    <div class="sp-subtab-content">
        <table class="sp-table sp-table-actionable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Relationship</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ben of benefs; let i = index" [ngClass]="{'even': i % 2 > 0}">
                    <td>{{ ben.name }}</td>
                    <td>{{ ben.dob }}</td>
                    <td>{{ ben.rel }}</td>
                    <td>
                        <button type="button" class="btn-action" (click)="editBen(ben.id)">Edit</button>
                        <button type="button" class="btn-action">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>