<div class="sp-page-container">
    <div class="sp-page-header">
        <div>
            <span class="sp-page-title">Accounts</span>
        </div>
        <div>
            <button type="button" class="sp-form-btn-def"
                (click)="gotoNew()">Create Account</button>
        </div>
    </div>

    <div class="sp-page-content-list">
        <table class="sp-table sp-table-actionable">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Code</th>
                    <th>Group</th>
                    <th>Sub-Group</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acc of accounts; let i = index" [ngClass]="{'even': i%2 > 0}">
                    <td>{{ acc.name | titlecase }}</td>
                    <td>{{ acc.code }}</td>
                    <td>{{ acc.group }}</td>
                    <td>{{ acc.subgroup }}</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="gotoEdit(acc._id)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
