<div class="sp-page-container">
    <div class="sp-page-header">
        <span class="sp-page-title">Import Remittance File</span>
    </div>
    <div class="sp-form-semi">
        <div class="sp-form-row">
            <sp-field-file
                label="Import File"
                class="sp-form-fld-email"
                ngModel name="remfile">
            </sp-field-file>
            <sp-field-select
                label="Month"
                type="month"
                hint="&nbsp;"
                class="sp-form-fld-phone"
                ngModel name="month">
            </sp-field-select>
        </div>
        <div class="sp-form-row-btn-bottom">
            <button type="button" class="sp-form-btn-def"
                (click)="generate()">Import</button>
            <button type="button" class="sp-form-btn"
                *ngIf="showResults == true && showAllDetail != true"
                (click)="showDetail(true)">Show Details</button>
            <button type="button" class="sp-form-btn"
                *ngIf="showResults == true && showAllDetail == true"
                (click)="showDetail(false)">Hide Details</button>
        </div>
    </div>

    <div class="sp-page-results-container" *ngIf="showResults == true">
        <table class="sp-table sp-table-actionable">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Remitted Amount</th>
                    <th>Loans</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Villarama, Violeta</td>
                    <td>6,000.00</td>
                    <td>5</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="viewDetail(123)">Details</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" *ngIf="showAllDetail == true" class="sp-table-detail-line">
                        <table class="sp-table-detail-table">
                            <tr>
                                <td>Regular Loan</td>
                                <td>Aug 2020</td>
                                <td><span class="sp-table-detail-strike">1,250.00</span></td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Regular Loan</td>
                                <td>Sep 2020</td>
                                <td><span class="sp-table-detail-strike">2,500.00</span></td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Calamity Loan</td>
                                <td>Sep 2020</td>
                                <td><span class="sp-table-detail-strike">1,500.00</span></td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Emergency Loan</td>
                                <td>Aug 2020</td>
                                <td><span class="sp-table-detail-strike">500.00</span></td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Emergency Loan</td>
                                <td>Sep 2020</td>
                                <td><span class="sp-table-detail-strike">500.00</span></td>
                                <td>250.00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="even">
                    <td>Villarama, Marielle</td>
                    <td>5,000</td>
                    <td>1</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="viewDetail(123)">Details</button>
                    </td>
                </tr>
                <tr class="even">
                    <td colspan="4" *ngIf="showAllDetail == true" class="sp-table-detail-line">
                        <table class="sp-table-detail-table">
                            <tr>
                                <td>Regular Loan</td>
                                <td>Sep 2020</td>
                                <td><span class="sp-table-detail-strike">5,000.00</span></td>
                                <td>0.00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Villarama, Marlene</td>
                    <td>4,000</td>
                    <td>2</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="viewDetail(123)">Details</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" *ngIf="showAllDetail == true" class="sp-table-detail-line">
                        <table class="sp-table-detail-table">
                            <tr>
                                <td>Regular Loan</td>
                                <td>Sep 2020</td>
                                <td><span class="sp-table-detail-strike">5,000.00</span></td>
                                <td>1,000.00</td>
                            </tr>
                            <tr>
                                <td>Emergency Loan</td>
                                <td>Sep 2020</td>
                                <td>3,000.00</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>