.sp-page-container {
    padding: 24px 40px;
}
.sp-page-header {
    /* border-bottom: 1px solid #EEEEEE; */
    padding-bottom: 12px;
    /* margin-bottom: 18px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sp-page-header > div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.sp-page-title {
    font-size: 24px;
    font-weight: 500;
    /* margin-right: 48px; */
}
.sp-page-subtabs {
    /* background-color: #1976D2; */
    background-color: #616161;
    padding: 8px 16px;
    margin-bottom: 18px;
}
.sp-page-subtabs ul {
    list-style: none;
    display: inline-block;
}
.sp-page-subtabs ul li {
    position: relative;
    float: left;
}
.sp-page-subtabs ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 16px;
    transition: background-color .2s;
}
.sp-page-subtabs a:hover {
    /* background-color: #1E88E5; */
    background-color: #9E9E9E;
    padding: 8px 16px;
    /* color: #000; */
}
.sp-page-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
@media screen and (max-width: 900px) {
    .sp-page-content {
        display: grid;
        grid-template-columns: 1;
        gap: 24px;
        margin: 12px 0;
    }
}
@media screen and (min-width: 901px) {
    .sp-page-content {
        gap: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 12px 0;
    }
}
.sp-page-content-list {
    margin: 24px 0;
}
/* @media screen and (min-width: 1601px) {
    .sp-page-content {
        gap: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */
.sp-page-content-col {
    display: flex;
    flex-flow: column;
    gap: 24px;
}
.sp-page-results-container {
    margin-top: 12px;
}
.sp-page-footer {
    border-top: 1px solid #EEEEEE;
    padding-top: 12px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
