.sp-subtab-wrapper {
    border: 0px solid red;
}
.sp-subtab-header {
    padding-bottom: 6px;
    margin-bottom: 18px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.sp-subtab-header-note {
    margin-right: 24px;
}
/* .sp-subtab-header-search {
    padding: 4px 40px 4px 8px;
} */
.sp-subtab-header-form {
    padding: 0 12px;
    border: 1px solid red;
}