<div class="sp-page-container">
    <div class="sp-card">
        <div class="sp-card-banner">
            <div class="sp-card-banner-header">
                <i class="material-icons banner-icon">face</i>
                <div class="sp-card-banner-title">
                    <div class="sp-card-banner-label">Members > List</div>
                    <div class="sp-card-banner-text">Members</div>
                </div>
            </div>
            <div class="sp-card-banner-actions">
                <!-- <button type="button" class="sp-card-banner-action-btn fw500">Members List</button> -->
            </div>
        </div>

        <!-- Filters -->
        <div class="sp-card-padding sp-card-flow-right">
            <div class="sp-fld">
                <div class="sp-fld-label">Location</div>
                <div>
                    <select name="location" class="sp-fld-select">
                        <option>-- All --</option>
                        <option>Central Office</option>
                        <option>Region I - Ilocos</option>
                        <option>Region II - Cagayan Valley</option>
                    </select>
                </div>
            </div>
            <div class="sp-fld">
                <div class="sp-fld-label">Office</div>
                <div>
                    <select name="location" class="sp-fld-select">
                        <option>-- All --</option>
                        <option>Regional Office</option>
                        <option>Region I - Ilocos Norte</option>
                        <option>Region I - Pangasinan</option>
                        <option>Region I - La Union</option>
                    </select>
                </div>
            </div>
            <div class="sp-fld">
                <div class="sp-fld-label">&nbsp;</div>
                <div>
                    <button type="button" class="sp-card-banner-action-btn fw500">Search</button>
                </div>
            </div>

        </div>

        <div class="sp-card-content sp-card-padding-sides sp-card-padding-bottom">
            <table class="sp-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th>Title</th>
                        <th>Location</th>
                        <th class="sp-list-edit-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Assistant Administrator</td>
                        <td class="sp-list-txt-col">Central Office - OAAFA</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Deputy Administrator</td>
                        <td class="sp-list-txt-col">Central Office - ODAMO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Assistant Administrator</td>
                        <td class="sp-list-txt-col">Central Office - OAAFA</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Deputy Administrator</td>
                        <td class="sp-list-txt-col">Central Office - ODAMO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Assistant Administrator</td>
                        <td class="sp-list-txt-col">Central Office - OAAFA</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Deputy Administrator</td>
                        <td class="sp-list-txt-col">Central Office - ODAMO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Assistant Administrator</td>
                        <td class="sp-list-txt-col">Central Office - OAAFA</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Deputy Administrator</td>
                        <td class="sp-list-txt-col">Central Office - ODAMO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Assistant Administrator</td>
                        <td class="sp-list-txt-col">Central Office - OAAFA</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Deputy Administrator</td>
                        <td class="sp-list-txt-col">Central Office - ODAMO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Assistant Administrator</td>
                        <td class="sp-list-txt-col">Central Office - OAAFA</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Dela Cruz, Juan</td>
                        <td class="sp-list-txt-col">1523665</td>
                        <td class="sp-list-txt-col">Deputy Administrator</td>
                        <td class="sp-list-txt-col">Central Office - ODAMO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="sp-card-padding sp-card-flow-right">
            <div class="sp-fld">
                <div class="sp-fld-label">Total Accumulated Value (TAV)</div>
                <div class="sp-fld-banner-text fw700">1,000,000.00</div>
            </div>
            <div class="sp-fld">
                <div class="sp-fld-label">Contributions</div>
                <div class="sp-fld-banner-text fw700">304</div>
            </div>
        </div> -->
        <!-- <img class="sp-card-pic" src="../../../../../../assets/ramon_001.png"> -->
    </div>
</div>