.sp-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}
.sp-content {
    overflow: auto;
    background: rgb(13,71,161);
    background: -moz-linear-gradient(180deg, rgba(13,71,161,1) 0%, rgba(66,165,245,1) 35%, rgba(187,222,251,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(13,71,161,1) 0%, rgba(66,165,245,1) 35%, rgba(187,222,251,1) 100%);
    background: linear-gradient(180deg, rgba(13,71,161,1) 0%, rgba(66,165,245,1) 35%, rgba(187,222,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d47a1",endColorstr="#bbdefb",GradientType=1);
}