<div class="sp-page-container">
    <div class="sp-page-header">
        <div>
            <span class="sp-page-title">Locations</span>
        </div>
        <div>
            <button type="button" class="sp-form-btn-def"
                (click)="toggleEditForm(true)">Add Location</button>
        </div>
    </div>

    <div class="sp-subtab-header-form" *ngIf="showEditForm == true">
        <div class="sp-form-row">
            <sp-field-text
                label="Location Name"
                className="sp-form-fld-email"
                ngModel name="name">
            </sp-field-text>
            <sp-field-checkbox
                label="Active">
            </sp-field-checkbox>
        </div>
        <div class="sp-form-row">
            <button type="button"
                class="sp-form-btn-def"
                (click)="toggleEditForm(false)">
                <span>Create Location</span>
            </button>
            <button type="button"
                class="sp-form-btn"
                (click)="toggleEditForm(false)">
                <span>Cancel</span>
            </button>
        </div>
    </div>

    <div class="sp-page-content-list">
        <table class="sp-table sp-table-actionable">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Central Office</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="editLoc(456)">Edit</button>
                    </td>
                </tr>
                <tr class="even">
                    <td>Region I - Ilocos</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="editLoc(456)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>Region II - Cagayan Valley</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="editLoc(456)">Edit</button>
                    </td>
                </tr>
                <tr class="even">
                    <td>Region III - Central Luzon</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="editLoc(456)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>Region IV-A - CALABARZON</td>
                    <td>
                        <button type="button"
                            class="btn-action"
                            (click)="editLoc(456)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
