<nav class="sp-navbar">
    <ul class="sp-navbar-links">
        <li>
            <a title="Home" [routerLink]="['']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a title="Members" [routerLink]="['member']" class="sp-navbar-link" routerLinkActive="active">
                <!-- <i class="material-icons">calendar_today</i> -->
                <span>Members</span>
            </a>
            <ul>
                <li><a title="List" [routerLink]="['member/list']">List</a></li>
                <!-- <li><a title="Edit" [routerLink]="['member/edit']">Edit</a></li> -->
                <li><a title="New" [routerLink]="['member/new']">New</a></li>
                <li><div class="sp-navbar-menu-sep"></div></li>
                <li><a title="Import" [routerLink]="['member/import']">Import</a></li>
            </ul>
        </li>
        <li>
            <a title="Loan" [routerLink]="['transaction/loan/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <span>Loans</span>
            </a>
            <ul>
                <!-- <li><a title="Loans" [routerLink]="['transaction/loan/list']">List</a></li> -->
                <li><a title="Loans" [routerLink]="['transaction/loan/approve']">Approve Loans</a></li>
                <li><a title="Loans" [routerLink]="['transaction/task/billing']">Generate Billing Statement</a></li>
                <li><a title="Loans" [routerLink]="['transaction/task/remittance']">Import Remittance File</a></li>
            </ul>
        </li>
        <li>
            <a title="Reports" [routerLink]="['report']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <span>Reports</span>
                <!-- <i class="material-icons btn-icon">cached</i> -->
            </a>
            <ul>
                <li><a title="Search" [routerLink]="['report/finstat']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Book of Accounts</a></li>
                <li><a title="Search" [routerLink]="['report/finstat']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Financial Statement</a></li>
                <li><a title="Search" [routerLink]="['report/balancesheet']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">General Ledger</a></li>
                <li><a title="Search" [routerLink]="['report/balancesheet']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Financial Condition</a></li>
                <li><a title="Search" [routerLink]="['report/trialbalance']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Statement of Activities</a></li>
                <li><a title="Search" [routerLink]="['report/trialbalance']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Statement of Cash Flows</a></li>
                <li><a title="Search" [routerLink]="['report/trialbalance']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Statement of Changes in Equity</a></li>
                <li><a title="Search" [routerLink]="['report/trialbalance']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Cash Position</a></li>
                <li><a title="Search" [routerLink]="['report/trialbalance']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Petty Cash Voucher</a></li>
            </ul>
        </li>
        <li>
            <a title="Setup" [routerLink]="['setup']" class="sp-navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <!-- <i class="material-icons btn-icon">settings</i> -->
                <span>Setup</span>
            </a>
            <ul>
                <li><a title="Accounts" [routerLink]="['setup/account']" class="sp-navbar-link">Accounts</a></li>
                <li><a title="Accounts" [routerLink]="['setup/loc']" class="sp-navbar-link">Locations</a></li>
                <li><a title="Accounts" [routerLink]="['setup/dept']" class="sp-navbar-link">Offices</a></li>
                <li><a title="Accounts" [routerLink]="['setup/user']" class="sp-navbar-link">Users</a></li>
                <li><a title="Accounts" [routerLink]="['setup/role']" class="sp-navbar-link">Roles</a></li>
                <li><div class="sp-navbar-menu-sep"></div></li>
                <li><a title="Accounts" [routerLink]="['setup/companysettings']" class="sp-navbar-link">Company Settings</a></li>
            </ul>
        </li>
    </ul>
    <!-- <ul class="sp-navbar-links">
    </ul> -->
</nav>