<div class="sp-page-container">
    <div class="sp-card">
        <div class="sp-card-banner">
            <div class="sp-card-banner-header">
                <i class="material-icons banner-icon">face</i>
                <div class="sp-card-banner-title">
                    <div class="sp-card-banner-label">MEMBERS</div>
                    <div class="sp-card-banner-text">New Member</div>
                </div>
            </div>
            <div class="sp-card-banner-actions">
                <button type="button" class="sp-card-banner-action-btn fw500">Members List</button>
            </div>
        </div>
        <div class="sp-card-padding sp-card-flow-right">
            <div class="sp-fld">
                <div class="sp-fld-label">Total Accumulated Value (TAV)</div>
                <div class="sp-fld-banner-text fw700">1,000,000.00</div>
            </div>
            <div class="sp-fld">
                <div class="sp-fld-label">Contributions</div>
                <div class="sp-fld-banner-text fw700">304</div>
            </div>
        </div>
        <!-- <img class="sp-card-pic" src="../../../../../../assets/ramon_001.png"> -->
    </div>

</div>