<div class="sp-page-content">

    <!-- <div class="sp-page-content-col" *ngIf="showMemInfo == true"> -->
    <div class="sp-page-content-col">
        <div class="sp-card">
            <div class="sp-card-header">
                <span>Member Info</span>
                <!-- <button type="button" class="sp-card-header-btn"
                    (click)="gotoMember(123)">Go to Member</button> -->
            </div>
            <div class="sp-card-content">
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Member Name"
                        text="Villarama, Marlon"
                        className="sp-form-fld-email"
                        ngModel name="membername">
                    </sp-field-text-view>
                    <sp-field-text-view
                        label="Date of Birth"
                        text="July 7, 1978"
                        className="sp-form-fld-date"
                        ngModel name="dob">
                    </sp-field-text-view>
                </div>
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Email Address"
                        text="marlonsvillarama@gmail.com"
                        className="sp-form-fld-email"
                        ngModel name="email">
                    </sp-field-text-view>
                </div>
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Mobile Phone"
                        text="0917 522 2847"
                        className="sp-form-fld-email"
                        ngModel name="mobilephone">
                    </sp-field-text-view>
                    <sp-field-text-view
                        label="Home Phone"
                        text="02 8374 6964"
                        className="sp-form-fld-phone"
                        ngModel name="mobilephone">
                    </sp-field-text-view>
                </div>
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Member Number"
                        text="12345678"
                        className="sp-form-fld-email"
                        ngModel name="empnum">
                    </sp-field-text-view>
                    <sp-field-text-view
                        label="Member Since"
                        text="July 1, 1976"
                        className="sp-form-fld-date"
                        ngModel name="empnum">
                    </sp-field-text-view>
                </div>
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Position/Title"
                        text="Supervising Grains Operations Officer III"
                        className="sp-form-fld-email"
                        ngModel name="title">
                    </sp-field-text-view>
                    <sp-field-text-view
                        label="Monthly Salary"
                        text="1,000,000"
                        className="sp-form-fld-phone"
                        ngModel name="salary">
                    </sp-field-text-view>
                </div>
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Location"
                        text="Central Office"
                        className="sp-form-fld-email"
                        ngModel name="location">
                    </sp-field-text-view>
                    <sp-field-text-view
                        label="Department"
                        text="GSD"
                        className="sp-form-fld-name"
                        ngModel name="department">
                    </sp-field-text-view>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-page-content-col">
        <div class="sp-card">
            <div class="sp-card-header">Loan Details</div>
            <div class="sp-card-content" *ngIf="rtype == 'new'">
                <div class="sp-form-row">
                    <sp-field-select
                        label="Type"
                        type="loantype"
                        className="sp-form-fld-email"
                        ngModel name="loanType">
                    </sp-field-select>
                </div>
                <div class="sp-form-row">
                    <sp-field-text
                        label="Amount"
                        className="sp-form-fld-phone"
                        ngModel name="amount">
                    </sp-field-text>
                    <sp-field-select
                        label="Terms"
                        type="loanterm"
                        className="sp-form-fld-phone"
                        ngModel name="terms">
                    </sp-field-select>
                </div>
                <div class="sp-form-row">
                    <button type="button"
                        (click)="previewSchedule(true)"
                        class="sp-form-btn">Preview Remittance Schedule</button>
                </div>
            </div>
            <div class="sp-card-content" *ngIf="rtype == 'edit'">
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Type"
                        text="Emergency Loan"
                        className="sp-form-fld-email"
                        ngModel name="loanType">
                    </sp-field-text-view>
                </div>
                <div class="sp-form-row">
                    <sp-field-text-view
                        label="Amount"
                        text="12,000.00"
                        className="sp-form-fld-name"
                        ngModel name="amount">
                    </sp-field-text-view>
                    <sp-field-text-view
                        label="Terms"
                        text="12-month term"
                        className="sp-form-fld-phone"
                        ngModel name="terms">
                    </sp-field-text-view>
                </div>

                <!-- Approval Workflow Table -->
                <div class="sp-form-row">
                    <table class="sp-table">
                        <thead>
                            <tr>
                                <th>Approver</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Checker</td>
                                <td>Approved</td>
                                <td>09/23/2020 4:13 PM</td>
                            </tr>
                            <tr class="even">
                                <td>Endorser</td>
                                <td>Pending Approval</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>Accountant</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr class="even">
                                <td>Ma'am Violy</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sp-page-content-list" *ngIf="showSchedPreview == true || rtype == 'edit'">
    <table class="sp-table">
        <thead>
            <tr>
                <th>Month / Year</th>
                <th>Amount Due</th>
                <th *ngIf="rtype=='edit'">Amount Remitted</th>
                <th *ngIf="rtype=='edit'">Remittance Date</th>
                <th *ngIf="rtype=='edit'">Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>September 2020</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">1,000.00</td>
                <td *ngIf="rtype=='edit'">Sep 12, 2020</td>
                <td *ngIf="rtype=='edit'">11,000.00</td>
            </tr>
            <tr class="even">
                <td>October 2020</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr>
                <td>November 2020</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr class="even">
                <td>December 2020</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr>
                <td>January 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr class="even">
                <td>February 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr>
                <td>March 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr class="even">
                <td>April 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr>
                <td>May 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr class="even">
                <td>June 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr>
                <td>July 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
            <tr class="even">
                <td>August 2021</td>
                <td>1,000.00</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
                <td *ngIf="rtype=='edit'">--</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="sp-form-btn-def">Save Changes</button>
    <button type="button" class="sp-form-btn">Reset</button>
</div>
