.sp-field-text {
    padding: 1em 12px 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: inherit;
    box-sizing: border-box;
}
.sp-field-text::placeholder {
    color: #CCC;
}
.sp-field-text:focus {
    outline: none;
    border: 1px solid #1565C0;
}
.sp-field-text-btn {
    border: 0px solid red;
    color:#424242;
    background-color: #FFFFFF;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    font-size: 0.8em;
    top: 8px;
    right: 4px;
    position: absolute;
    cursor: pointer;
    transition: background-color .2s;
}
.sp-field-text-btn > i {
    font-size: 16px;
}
.sp-field-text-btn:hover {
    background-color: #EEEEEE;
}