<div class="sp-field-wrapper">
    <div class="sp-field-content" [formGroup]="fldForm">
        <label class="sp-field-cb-container">
            <span class="sp-field-cb-label">{{ label }}</span>
            <input
                class="sp-field-cb"
                type="checkbox"
                formControlName="fld"
                (check)="onChange($event.target.value)"
                [disabled]="disabled"
                checked="">
            <span class="sp-field-cb-check"></span>
        </label>
    </div>
</div>

