.sp-field-cb-container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sp-field-cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.sp-field-cb-label {
    line-height: 24px;
}
.sp-field-cb-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #B0BEC5;
    background-color: #eeeeee;
}

.sp-field-cb-container:hover input ~.sp-field-cb-check {
    background-color: #cccccc;
}
.sp-field-cb-container input:checked ~.sp-field-cb-check {
    background-color: #1976D2;
}
.sp-field-cb-check:after {
    content: "";
    position: absolute;
    display: none;
}
.sp-field-cb-container input:checked ~.sp-field-cb-check:after {
    display: block;
}
.sp-field-cb-container .sp-field-cb-check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sp-field-cb-label {
    font-size: inherit;
    margin-left: 16px;
}