<div class="sp-page-container">
    <div class="sp-card">
        <div class="sp-card-banner">
            <div class="sp-card-banner-header">
                <i class="material-icons banner-icon">perm_identity</i>
                <div class="sp-card-banner-title">
                    <div class="sp-card-banner-label">Roles > List</div>
                    <div class="sp-card-banner-text">Roles</div>
                </div>
            </div>
            <div class="sp-card-banner-actions">
                <!-- <button type="button" class="sp-card-banner-action-btn fw500">Members List</button> -->
            </div>
        </div>

        <div class="sp-card-content sp-card-padding-sides sp-card-padding-bottom">
            <table class="sp-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="sp-list-edit-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="sp-list-txt-col">Checker</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Endorser</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Processor</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Committee Member</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">CEO</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Manager</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sp-list-txt-col">Payroll Processor</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="sp-list-txt-col">Bookkeeper</td>
                        <td class="sp-list-edit-col">
                            <button type="button" class="sp-list-row-btn-def"
                                (click)="viewRec(123)">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>