<div class="sp-subtab-wrapper">
    <div class="sp-form-row">
        <sp-field-text-view
            label="No. of Contributions"
            text="34"></sp-field-text-view>
        <sp-field-text-view
            label="Total Accumulated Value (TAV)"
            text="492,385.00"></sp-field-text-view>
    </div>
    <div class="sp-subtab-content">
        <table class="sp-table">
            <thead>
                <tr>
                    <th>Month / Year</th>
                    <th>Personal Share</th>
                    <th>Government Share</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan 2010</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
                <tr class="even">
                    <td>Mar 2011</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
                <tr>
                    <td>Oct 2011</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
                <tr class="even">
                    <td>Apr 2013</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
                <tr>
                    <td>Oct 2015</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
                <tr class="even">
                    <td>Oct 2016</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
                <tr>
                    <td>Oct 2018</td>
                    <td>2,000.00</td>
                    <td>4,000.00</td>
                    <td>6,000.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>