<div class="sp-page-container">
    <div class="sp-page-header">
        <span class="sp-page-title">Import Employee File</span>
    </div>
    <div class="sp-form-narrow">
        <div class="sp-form-row">
            <sp-field-file
                label="Import File"
                class="sp-form-fld-addr"
                ngModel name="empfile">
            </sp-field-file>
        </div>
        <div class="sp-form-row-btn-bottom">
            <button type="button" class="sp-form-btn-def">Submit</button>
        </div>
    </div>
</div>